apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/name: {{service_name}}-service-account
  name: {{service_name}}-service-account
  namespace: {{service_name}}
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::523853781727:role/5238-euw1-pro-eks-{{service_name}}-svc-ac