apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{service_name}}-applications
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ""
    server: "https://kubernetes.default.svc"
  project: addons
  #syncPolicy:
  #  automated:
  #    prune: true
  #    selfHeal: true
  source:
    repoURL: "https://bitbucketfactory.melia.com/scm/ab/{{service_name}}-services.git"
    targetRevision: master
    path: pro
