apiVersion: v1
kind: Service
metadata:
  namespace: {{service_name}}
  name: {{service_name}}-service
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: {{service_name}}-service
  ports:
    - port: 80
      name: service
      protocol: TCP
      targetPort: service