// Policy para permitir acceso a los buckets de {{service_name}}
resource "aws_iam_policy" "eks-s3-{{service_name}}" {
  name        = "${module.mhi_helper_aws.regional_prefix_name}-${var.environment}-eks-s3-{{service_name}}"
  description = "Policy to allow {{service_name}} to access BD360 S3 bucket"

  policy = jsonencode({
    "Statement": [
        {
            "Action": [
                "s3:Get*",
                "s3:List*",
                "s3:Put*",
                "s3:Delete*"
            ],
            "Effect": "Allow",
            "Resource": [
                "arn:aws:s3:::{{{S3_BUCKET}}}/*",
                "arn:aws:s3:::{{{S3_BUCKET}}}",
                "arn:aws:s3:::{{{S3_NOTIFICATIONS}}}/*",
                "arn:aws:s3:::{{{S3_NOTIFICATIONS}}}"
            ]
        }
    ],
    "Version": "2012-10-17"
})
}