apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/name: {{service_name}}-service-account
  name: {{service_name}}-service-account
  namespace: {{service_name}}
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::083104591331:role/0831-euw1-dev-eks-{{service_name}}-svc-ac